.root {
    /*======================*/
    /*  COLOR DEFINITIONS   */
    /*======================*/

    OBJECT_BASE_COLOR : #3c3f41;
    WINDOW_BG_COLOR : #2b2b2b;
    INNER_BG_COLOR : OBJECT_BASE_COLOR;
    DARK_TEXT_COLOR : black;
    MID_TEXT_COLOR : #292929;
    LIGHT_TEXT_COLOR : #c9c9c9;
    FOCUS_COLOR : #4a7a88;
    CLOSE_COLOR : #e91919;
    SELECTED_PHOTO_COLOR: #538642;

    /*======================*/
    /*      COLOR SETTING   */
    /*======================*/
    -fx-base: OBJECT_BASE_COLOR;
    -fx-background: WINDOW_BG_COLOR;
    -fx-control-inner-background: INNER_BG_COLOR;
    -fx-dark-text-color: DARK_TEXT_COLOR;
    -fx-mid-text-color: MID_TEXT_COLOR;
    -fx-light-text-color: LIGHT_TEXT_COLOR;
    -fx-accent: FOCUS_COLOR;
    -fx-focus-color: FOCUS_COLOR;
    -fx-color: -fx-base;
}

.increment-arrow-button:hover > *, .decrement-arrow-button:hover > * {
    -fx-background-color: FOCUS_COLOR !important;
}

.split-pane-divider.hide {
   -fx-border-color:  transparent;
   -fx-background-color: transparent;
   -fx-background-insets: 0;
}

.close-btn:hover {
    -fx-background-color: CLOSE_COLOR;
}

.photo-cell:hover{
    -fx-background-color: FOCUS_COLOR;
}

.photo-cell.photo-selected, .photo-cell:hover.photo-selected {
    -fx-background-color: SELECTED_PHOTO_COLOR;
}